#contenedor{
    display: flex;
    flex-direction: row;
    width: 1024px;
}

#izq{
    display: flex;
    width: 50%;
    justify-content: center;
}

#der{
    display:flex;
    width: 50%;
    justify-content: center;
    
}
#map{
    width: 75vh;
    height: 75vh;

    
}

.options{
    width: 60%;
    height: 5%;
}

